body {
    padding: 30px 30px 30px 30px !important;  
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url(/img/background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-position-x: 117%;
    height: 100vh;
}

.logo-first {
    font-size: 23px;
    letter-spacing: 50;
    font-weight: 900;
}

.logo-second {
    font-size: 18px;
    letter-spacing: 50;
    font-weight: 300;
    margin-top: -5px;
}

h1 {
    font-size: 40px;
    letter-spacing: 50;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    letter-spacing: 50;
    font-weight: 300;
    
}

.title {
    margin-top: -5.4%
}

p {
    font-size: 17px;
    letter-spacing: 50;
    font-weight: 400;
    padding: 0 !important;
    margin-top: -10px;
    margin-bottom: 0px;
}
.img-dots {
    position: absolute; 
    z-index: -2;
    margin-left: -30px; 
    margin-top: 30px;
}


.left-menu {
    display: flex;
    margin-bottom: 40px;
}
.number-box {
    display:inline-block;
    padding-right: 20px;
}
.menu-title {
    display:inline-block;
}

.left-menu-container {
    margin-top: 15%;
    margin-left: 5%;
    
}
.row-menu {
    border-right: 1px solid pink;
}